.slide {
  position: relative;
  overflow: hidden;
  &.-micro {
    display: inline-block;
  }
  .slide-cover {
    @include display;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    background: rgba($black, 0.8);
    color: $white;
    padding: 20px 15px;
    line-height: 1.2;
  }
  &-title {
    @include transition(bottom 0.2s);
    bottom: -100%;
    &.active {
      .slide-cover {
        bottom: 0;
      }
    }
  }
  &-over {
    text-align: center;
    .slide-cover {
      @include transition(transform 0.2s, opacity 0.4s);
      @include transform(scale(1.1));
      will-change: transform, opacity;
      height: 100%;
      opacity: 0;
    }
    &.active {
      .slide-cover {
        @include transform(scale(1));
        opacity: 1;
      }
    }
  }

  img {
    width: 100%;
  }

  h2 {
    @include transition(background 0.4s);
    background: rgba($black, 0.8);
    color: $white;
    border-bottom: 0;
    text-align: left;
    padding: 8px 12px;
    margin: 10px 0 0;
    &:hover {
      background: rgba($blue, 0.8);
    }
  }

}
