.slide {
  position: relative;
  overflow: hidden;
  &.-micro {
    display: inline-block;
  }
  .slide-cover {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    background: rgba(0,0,0,0.8);
    padding: 15px 20px;
    color: #fff;
  }
  &-title {
    @include transition(bottom 0.2s);
    bottom: -100%;
    &.active {
      .slide-cover {
        bottom: 0;
      }
    }
  }
  &-over {
    text-align: center;
    .slide-cover {
      @include transition(transform 0.2s, opacity 0.4s);
      @include transform(scale(1.1));
      will-change: transform, opacity;
      height: 100%;
      opacity: 0;
    }
    &.active {
      .slide-cover {
        @include transform(scale(1));
        opacity: 1;
      }
    }
  }
}
