.header-menu {
  background: $black;
  a {
    @include transition(background 0.2s);
    @include display;
    font-size: 1.3rem;
    background: $black;
    color: #fff;
    padding: 12px 15px;
    &:hover {
      background: $blue;
    }
  }
  .current_menu_item {
    a {
      background: $blue;
    }
  }
  .row {
    margin-left: 0;
    margin-right: 0;
  }
}

.masthead-graphic,
.logo {
  display: inline-block;
  vertical-align: bottom;
}
.masthead-graphic {
  width: 25%;
  margin-left: 3%;
}
.logo {
  width: 70%;
}
.alert {
  @include display;
  margin-bottom: 20px;
  &.info {
    background: $blue;
  }
  a {
    font-size: 1.4rem;
  }
}

.sf-menu {
  li.sfHover ul {
    top: 100%;
  }
}
.sf-shadow {
  ul {
    @include border-radius(0);
    padding: 0;
  }
}
