.archive-head {
  h1 {
    color: $black;
    padding-bottom: 3px;
    border-bottom: 2px solid $black;
    text-align: center;
  }
}

.author-bio {
  @include body;
}

.author-hero {
  img {
    @include bp(medium-down) {
      margin: 0 auto 25px;
      display: block;
    }
  }
}
