.single-header {
  @include body_copy;
  margin: 20px 0;
  h1 {
    @include sub;
    color: $black;
    margin: 0;
  }
  .byline,
  .dateline {
    font-size: 1.125rem;

  }
}
.single-post {
  .meta {
    margin: 20px 0 10px;
  }
}

.entry {
  @include body_copy;
  ul {
    list-style: disc;
    padding-left: 17px;
  }
  ol {
    padding-left: 17px;
  }
}

.body-image {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  text-align: center;
  position: relative;
  margin-top: 30px;
  h1,
  h3 {
    background: rgba($black, 0.8);
    color: $white;
  }
  h1 {
    margin: 0;
    padding: 20px 0 10px;
  }
  h3 {
    margin: 0;
    padding-bottom: 20px;
    a {
      color: $white;
      @include hover($blue);
    }
  }
  .post-titles {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}
.post-layout--full {
  .entry {
    max-width: 740px;
    margin: 35px auto 0;
    display: block;
  }

  ul ul,
  ol ol {
    margin-top: 0;
  }

  blockquote {
    padding: 0;
    border-left: 0;
    font-style: italic;
    text-align: center;
    cite {
      font-style: normal;
    }
  }

  .meta {
    margin-left: auto;
    margin-right: auto;
    max-width: 740px;
  }
}

.social-single {
  list-style: none;
  li {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    a {
      display: block;
      padding: 0 4px;
      font-size: 20px;
    }
    iframe {
      margin: 10px 4px 0;
    }
  }
}

